<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNAB Transactions</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main>
        <h1>CNAB Transactions</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" id="uploadedFile">
            {% csrf_token %}
            <input type="submit" value="Enviar arquivo" id="submitFile">
            <a href="/api/transactions/" target="_blank">Transações</a>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <span class="ms error">
                {{ message }}
            </span>
        </div>
        {% endfor %}
        {% endif %}
    </main>
</body>

</html>